/* Configurando html e body */
html, body {
    margin: 0;
    padding: 0;
    background-color: #bafdc2;
}

/* Div do cabeçalho */
#cab {
    background-color: #3a352f;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 10px;
    padding: 10px 10px;
}

/* Div do nome e profissão, dentro do cabeçalho */
#sobrecab {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Nome da div sobrecab */
#nomecab {
    font-size: 20px;
    font-weight: bold;
    color: #e5f3ba;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/* Descrição da profissão da div sobrecab */
#descrcab {
    font-size: 20px;
    color: #e5f3ba;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Links do cabeçalho */
.links {
    font-size: 17px;
    color: #e5f3ba;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Links do cabeçalho quando o mouse passa por cima */
.links:hover {
    color: #80d3bb;
}

/* Div da introdução do profissional */
#intro {
    background-color: #e5f3ba;
    background-image: radial-gradient(closest-side, transparent 90%, rgba(58, 53, 47,.03) 99%),
    radial-gradient(closest-side, transparent 90%, rgba(58, 53, 47,.03) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px 65px 110px;
}

/* Nome da div intro */
#nome {
    color: #3a352f;
    font-size: 70px;
    font-weight: bold;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
}

/* Subtítulo do nome da div intro */
#subt {
    color: #3a352f;
    font-size: 30px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin-top: 0;
    margin-bottom: 50px;
}

/* Descrição do profissional da div intro */
#descr {
    color: #3a352f;
    font-size: 22px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 65px 0px;
}

/* Botão principal para marcar consulta */
.botãoprin {
    background-color: #3a352f;
    font-size: 22px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #e5f3ba;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 12px;
}

/* Botão principal quando o mouse passar por cima */
.botãoprin:hover {
    background-color: #e5f3ba;
    color: #3a352f;
    border: 5px solid #3a352f;
}

/* Div de informações adicionais do profissional */
#info {
    background-image: linear-gradient(rgba(229,243,186,1) 2%, rgba(186,253,194,1) 30%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 10px 10px;
    padding: 100px 65px;
}

/* Título do "sobre mim" da div info */
#titulsobre {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #3a352f;
    font-size: 30px;

}

/* Parágrafo "sobre mim" da div info */
#sobre {
    font-size: 22px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #3a352f;
    padding-bottom: 20px;
}

/* Botão secundário para marcar consulta */
.botãosec {
    background-color: #3a352f;
    font-size: 22px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #bafdc2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 12px;
}

/* Botão secundário quando o mouse passa por cima */
.botãosec:hover {
    background-color: #bafdc2;
    color: #3a352f;
    border: 5px solid #3a352f;
}